<div class="task-container">
  <h2>Lista de Tareas</h2>
  <ul>
    <li *ngFor="let tarea of listaTareas; let i = index" class="task-item">
      <span>{{ i + 1 }} - {{ tarea }}</span>
      <button (click)="eliminarTarea(i)" class="delete-btn">
        <i class="fas fa-trash-alt"></i>
      </button>
    </li>
  </ul>
  <div class="task-input-container">
    <input
      type="text"
      placeholder="Nueva tarea"
      [(ngModel)]="nuevaTarea"
      (keydown.enter)="agregarTarea()"
      class="task-input"
    />
    <button (click)="agregarTarea()" class="add-btn">
      <i class="fas fa-plus"></i> Agregar
    </button>
  </div>
</div>
